{% extends 'base.html' %}

{% block page_title %}
<h3>Create Transaction</h3>
{% endblock %}

{% block content %}
<div class="col-lg-8 col-md-10 container d-flex align-items-center justify-content-center">
  <form class="row g-3" method="post" action="/create-transactions">
    {{ form.hidden_tag() }}
    <div class="col-md-12">
      <label for="endpoint_name" class="form-label">Endpoint name</label>
      {{ form.register(class="form-control",id="endpoint", placeholder="Registry") }}
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Payload</label>
      {{ form.payload(class="form-control", placeholder="Type Endpoint", rows=5, cols=10) }}
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Response</label>
      {{ form.response(class="form-control", placeholder="Type Response", rows=5, cols=10) }}
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Description</label>
      {{ form.description(class="form-control", placeholder="Type Response", rows=5, cols=10) }}
    </div>
    
    <div class="col-12">
      <button type="submit" name="save_add_more" value="save_add_more" class="btn btn-primary">Save & Add More</button>
      <button type="submit" class="btn btn-primary ">Save & Return to list</button>
    </div>
  </form>
</div>

{% endblock %}


{% block script_section %}
<script>
  document.getElementById("endpoint").addEventListener("change", load_registry);
  
  async function load_registry() {
    let x = document.getElementById("endpoint");
    let result = await fetch("/registry/"+x.value)
    let data = await result.json()
    console.log(data.payload,data.response, )
    document.getElementById("payload").value = data.payload;
    document.getElementById("response").value = data.response;
  }
  </script>
{% endblock %}
